/* roboto-regular - latin-ext_latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/roboto-v30-latin-ext_latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/roboto-v30-latin-ext_latin-regular.woff')
            format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin-ext_latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/roboto-v30-latin-ext_latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/roboto-v30-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --light_purple: #fffbfe;
    --yellow: #ecd444;
    --dark-purple: #6750a4;
    --purple: #cfbcff;
    --light_purple: #e7e0ec;
    --content-width: 1400px;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'Franklin Gothic Medium', Tahoma, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

h1 {
    text-align: center;
    margin-top: 0;
    font-weight: normal;
    position: relative;
    width: 100%;
    left: -20px;
}

h2 {
    font-size: 28px;
    font-weight: normal;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.header {
    background-color: var(--light_purple);
}

.header-content {
    display: grid;
    grid-template-areas:
        'menu headline'
        'navigation navigation';
    grid-template-columns: 60px 1fr;
    align-items: center;
    align-content: center;
    margin: auto;
    padding: 0 16px;
    max-width: var(--content-width);
}

.header h1 {
    margin: 0;
}

.header .button {
    background-color: transparent;
    border: none;
}

nav {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav li,
a {
    list-style: none;
    color: black;
    margin-bottom: 16px;
}

main {
    padding: 16px;
    max-width: var(--content-width);
    margin: auto;
}

.footer {
    background-color: var(--light_purple);
    color: var(--dark-purple);
    padding: 16px;

    display: flex;
    justify-content: space-evenly;
}

.headline-1 {
    grid-area: headline;
}

.navigation {
    grid-area: navigation;
}

.btn {
    border-radius: 100px;
    border: none;
    color: black;
    font-family: 'Roboto', 'Franklin Gothic Medium', Tahoma, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 16px;
    width: min-content;
}

.btn.primary {
    background-color: var(--yellow);
}

.btn.secondary {
    background-color: var(--dark-purple);
    color: white;
}

.main-teaser img {
    margin-bottom: -32px;
    width: 100%;
}

.teaser-text {
    align-items: center;
    background-color: #cfbcffee;
    border-radius: 4px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: -50px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 8px;
    position: relative;
    top: -50px;
}

.teaser-text > h2 {
    margin: 0;
    text-align: center;
    text-decoration: none !important;
}

.teaser-grid {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
}

.teaser-grid > article {
    width: auto;
}

.teaser-grid h3 {
    margin: 8px 0 0 0;
    color: black;
    font-size: 24px;
    font-weight: normal;
}

.teaser-grid span {
    margin: 4px 0 0 0;
    color: black;
}

.teaser-grid img {
    width: 100%;
}

.contact-form > label {
    background-color: var(--light_purple);
    border-radius: 4px 4px 0px 0px;
    display: block;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.contact-form input,
textarea {
    background-color: transparent;
    border: none;
    font-size: 12px;
    padding: 0 8px;
    padding: 4px 8px;
}

.contact-form > .input-wrapper {
    background-color: var(--light_purple);
    border-bottom: 1px solid black;
    border-radius: 4px 4px 0px 0px;
    display: block;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.input-wrapper > label {
    font-size: 12px;
    padding: 8px;
}

.contact-form > label.checkbox-label {
    background-color: transparent;
    flex-direction: row;
}

.checkbox-wrapper {
    margin-bottom: 16px;
}

.submit-btn {
    cursor: pointer;
    display: block;
    margin-left: auto;
}

.hidden {
    display: none;
}

.menu-open {
    display: block;
}

@media screen and (min-width: 800px) {
    h1 {
        text-align: left;
        margin-top: 0;
        font-weight: normal;
        width: 100%;
        left: auto;
        position: unset;
    }

    header {
        flex-direction: row;
        padding: 16px;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: end;
    }

    nav li,
    a {
        list-style: none;
        color: black;
        margin-bottom: 0;
        white-space: nowrap;
    }

    .header-content {
        grid-template-areas: 'headline navigation';
        grid-template-columns: 1fr 1fr;
    }

    .menu-btn {
        display: none;
    }

    .teaser-grid {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(4, 1fr);
    }

    .contact-form {
        max-width: 50%;
        margin: 0 auto;
    }

    .teaser-text {
        max-width: 600px;
        margin: 0 auto -32px auto;
        padding: 16px;
    }

    .navigation {
        align-self: flex-end;
    }
}
